<div class="container">
  <h1>Seria A</h1>

  <table class="table table-hover">
    <tr>
      <th>Position</th>
      <th>Logo</th>
      <th>Name</th>
      <th>Games</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>G</th>
      <th>Points</th>
    </tr>

    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.position %></td>
        <td class="logo"><%= image_tag(club.logo) if club.logo %></td>
        <td><%= club.name %></td>
        <td><%= club.games %></td>
        <td><%= club.win %></td>
        <td><%= club.draw %></td>
        <td><%= club.lose %></td>
        <td><%= club.goals_diff %></td>
        <td><%= club.points %></td>
        <!--<td><%#= link_to 'Show', article_path(article) %></td>-->
      </tr>
    <% end %>
  </table>
</div>